* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
  width: 200px;
  height: 100px;
  object-fit: cover;
  object-position: center center;
}
body {
    /* background-color: rgb(222, 248, 210); */
    background-color:rgb(250, 250, 245);
    font-family: Roboto, Futura, sans-serif;
}

/* Header */
header {
  width: 100%;
  height: 100px;
  background-color: rgb(233, 233, 60);
  box-shadow: 5px 10px 18px #888888;
}

.wrapper-header {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
}
label
{
    display: none;
}
label, #toggle
{
    display: none;
}
.barNav a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  letter-spacing: 2px;
  padding: 10px 20px;
  position: relative;
  top: 25px;
}

.barNav a:hover {
  background-color: blue;
  color: white;
  box-shadow: 5px 10px 8px greenyellow;
}
.reseauxSociale {
    display: flex;
    align-items: center;
    gap: 20px;
}
.reseaux {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.reseaux:hover {
    box-shadow: 5px 10px 8px yellow;
}
main {
  margin: 30px auto;
  text-align: center;
}
main h1 {
  padding: 10px;
  color: rgb(65, 65, 200);
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
}
main h2 {
  text-align: center;
  color: #262a4a;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Information pratique */
.infoPratique {
max-width: 1300px;
margin: 0px 20%;

}

.infoPratique p {
  color: black   ;
  font-size: 1.5em;
  line-height: 1.5em;
}
.infoscontact{
  display: grid;
  grid-template-rows: 20% 20% 20%;
  gap: 40px;
  margin-top: 1.5em;
}
.infoscontact p {
  text-align: left;
}
.boxinfos1{
  grid-row: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.boxinfos2{
  grid-row: 2;
  width: 100%;
  display: flex;
  align-items: center;
}

.boxinfos3{
  grid-row: 3;
  width: 100%;
  display: flex;
  align-items: center;
}

.fa-envelope{
  font-size: 35px;
  color: rgb(21, 194, 21);
}

.fa-location-dot{
  font-size: 35px;
  color: rgb(21, 194, 21);
}
.fa-phone-volume {
  font-size: 35px;
  color: rgb(21, 194, 21);
}
.icon{
  width: 40px;
  display: inline-block;
  margin-right: 20px;
}
.carteLocal {
  height: 400px;
  margin-bottom: 50px;
}
iframe {
  margin-top: 15px;
  width: 60%;
  height: 100%;
  /* border-style: inset; */
  border: 5px inset rgb(180, 180, 201);
} 
footer {
    width: 100%;
    height: 70px;
    background:  #262a4a;
    box-shadow: 0px -10px 10px gray;
    color: white;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    margin: 0 auto;
}  
@media only screen and (max-width: 1340px) {
  .logo {
    width: 150px;
} 
.reseaux {
  width:40px;
  height: 40px;
  margin-top: 10px;
}
.wrapper-header {
  width: 90%;
  justify-content: space-around;
}
}
@media only screen and (max-width: 1200px) {
  .barNav a {
    text-decoration: none;
    font-size: 1.3em;
  }
  .reseaux {
    width:30px;
    height: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .logo {
     display: none;
   }
   .wrapper-header .reseauxSociale {
     display: none;
   }
   .barNav a {
     font-size: 1em;
   }
   footer {
     font-size: 0.8em;
   }
 
 .wrapper-header .barNav
 {
   display: none;
   flex-direction: column;
   background: rgb(233, 233, 60);
   height: 240px;
   position: absolute;
   top: 100px;
   z-index: 1;
   width: 100%;
   text-align: center;
 
 }
 .wrapper-header
 {
     margin: 0 auto;
     width: 100%;
     height: 100px;
     background: rgb(233, 233, 60);
 
    
 }
   label 
   {
       width: 30px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       font-size: 40px;
       color: black;
       cursor: pointer;
   }
 
   #toggle:checked + .barNav {
       display: flex;
   } 
 
 }



@media only screen and (max-width: 800px) {
  footer h3 {
    display: none;
  }
  .barNav {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }
  .barNav a {
    padding: 8px 0;
    top: 10px;
  }
    /* Caption text */
    .text {
      display: none;
    }

    main h1 {
      font-size: 1.5em;
    }
    main h2 {
      font-size: 1.2em;
    }
    .infoPratique p {
      font-size: 1em;
    }
    iframe {
      width: 80%;
    }
    .fa-envelope{
      font-size: 25px;
    }
    .fa-location-dot{
      font-size: 25px;
    }
    .fa-phone-volume {
      font-size: 25px;
    }

}

@media only screen and (max-width: 550px) {
  main h1 {
    font-size: 1em;
  }
  main h2 {
    font-size: 0.9em;
  }
  .infoPratique p {
    font-size: 0.9em;
  }
  iframe {
    width: 90%;
  }
  .icon{
    width: 30px;
  }
  .infoPratique {
    margin: 0px 10%;
  }
  .fa-envelope{
    font-size: 25px;
  }
  .fa-location-dot{
    font-size: 25px;
  }
  .fa-phone-volume {
    font-size: 25px;
  }
  
}